:root{
  font-size: 15px;
}

*{
	padding: 0;
	margin: 0;
	font-size: 14.5px;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */

  font-family: 'Overpass', sans-serif;
}

body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
  background-color: hsl(216, 12%, 8%);
}

main{
  height: 22.5rem;
  width: 86.5vw;
  background-color: hsl(213, 19%, 18%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: 1rem;
  padding: 1.8rem 1.3rem;
  margin-bottom: 1rem;
  overflow: hidden;

}

#rating{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.3rem;
}

#starBg{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  height: 2.3rem;
  width: 2.3rem;
  border-radius: 1rem;
  background-color: hsla(0, 0%, 100%, 0.03);
}

#starIcon{
  height: 0.8rem;
  width: auto;
}

#highlight{
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
}

p{
  color: hsl(216, 12%, 54%);
  line-height: 1.5rem;
}

form{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

#formPropositions{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

input[type="radio"]{
  height: 2.3rem;
  width: 2.3rem;
  color: hsl(217, 12%, 63%);
  border-radius: 100%;
  background-color: hsla(0, 0%, 100%, 0.03);

  cursor: pointer;

  -webkit-appearance: none; /*to disable the default appearance of radio button*/
  -moz-appearance: none;
  transition: 0.2s;

}

input[type="radio"]:hover{
  background-color: hsl(25, 97%, 53%);
  transition: 0.2s;

}

label input[type="radio"]:hover span{
  color: white;
}

label span{
  position: absolute;
  transform: translate(-1.40rem, 0.65rem);
  color: hsl(216, 12%, 54%);
  font-weight: bold;
  cursor: pointer;
}

input[type="radio"]:checked{
  background-color: hsl(217, 12%, 63%);
}

input[type="radio"]:before{
  position: absolute;
  content: "";
  font-weight: bold;
  transform: translate(1rem, 0.65rem);
}

input[type="radio"]:hover::before, input[type="radio"]:checked::before{
  color: white;
}

#optionOne:before{
  content: "1";
}
#optionTwo:before{
  content: "2";
  transform: translate(0.9rem, 0.65rem);
}
#optionThree:before{
  content: "3";
  transform: translate(0.9rem, 0.65rem);
}
#optionFour:before{
  content: "4";
  transform: translate(0.95rem, 0.65rem);
}
#optionFive:before{
  content: "5";
  transform: translate(0.89rem, 0.65rem);
}

input[type="submit"]{
  height: 2.5rem;
  width: 100%;
  border-radius: 1.3rem;
  border: none;
  background-color: hsl(25, 97%, 53%);

  text-transform: uppercase;
  color: white;
  font-weight: 700;
  letter-spacing: 0.2rem;
  font-size: 0.8rem;
  transition: 0.2s;
  cursor: pointer;
}

input[type="submit"]:hover{
  background-color: white;
  color: hsl(25, 97%, 53%);
  transition: 0.2s;
}

#thanking{
  display: none;
  transform: translateX(+100%); /* Fait glisser la section vers la gauche */
  opacity: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

#rating{
  transition: all 0.5s ease; /* Ajoute une transition fluide */
}
#thanking {
  transition: all 0.5s ease; /* Ajoute une transition fluide */
}

#rated{
  color: hsl(25, 97%, 53%);
  background-color: hsla(0, 0%, 100%, 0.03);
  padding: 0.5rem 1.5rem;
  border-radius: 2rem;
}

main p:last-child{
  text-align: center;
}

@media screen and (min-width: 600px){
  main{
    width: 25rem;
  }
}

#rating.slideOut{
  transform: translateX(-100%); /* Fait glisser la section vers la gauche */
  opacity: 0;
}

#thanking.slideIn{
  transform: translateX(0); /* Fait glisser la section vers la gauche */
  opacity: 1;
}